.bg_video_container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
}

.bg_video {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.bg_video::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.4);
    z-index: -1;
}

.bg_video_container .bg_video_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}


.content_info {
    margin: 0 auto;
    font-size: 5rem;
    font-weight: 900;
    max-width: 1024px;
}


.shape {
    width: 100%;
    height: 100%;
    background: url('../../../assets/shape-49.png');
    background-repeat: no-repeat;
    z-index: -1;
}

.newsletter_container {
    width: 100%;
    height: 100%;
    background: url('../../../assets/shape-58.png');
    background-size: cover;
    background-repeat: repeat-x;
    animation: slide 100s linear infinite;
    -webkit-animation: slide 100s linear infinite;
}

@keyframes slide {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 1920px 0;
    }
}

.newsletter_bg {
    background-color: rgba(150, 177, 226, 0.5);
}

.icon_bg {
    width: 100%;
    height: 100%;
    background: url('../../../assets/icon-bg-1.png');
    background-repeat: no-repeat;
    background-position: center;
}




/* about */

.about_image {
    width: 100%;
    height: 100vh;
    background: url('../../../assets/shape-37.png');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 22;
}



/* services */
.service_item-icon {
    width: 130px;
    height: 130px;
    background: url('../../../assets/icon-bg-1.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.dot_animation {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.dot_animation .one,
.dot_animation .two,
.dot_animation .three,
.dot_animation .four {
    width: 3px;
    height: 3px;
    margin-bottom: 1rem;
    background-color: #3875F4;
    border-radius: 50%;
}

.dot_animation .one {
    opacity: 0;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.dot_animation .two {
    opacity: 0;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}

.dot_animation .three {
    opacity: 0;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}

.dot_animation .four {
    opacity: 0;
    animation: dot 1.3s infinite;
    animation-delay: 0.5s;
}


@keyframes dot {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.feature_container{
    width: 100%;
    height: 100%;
    background: url('../../../assets/shape-7.png');
    background-repeat: no-repeat;
}


.slide-track {
    width: 100%;
    display: flex;
    gap: 3em;
    overflow: hidden;
}

.company_slider {
    padding: 6em 2em 8em 2em;
}


.slide img{
    filter: grayscale(1);
}

.slide img:hover{
    filter: grayscale(0);
}