/* .footer_container{
    width: 100%;
    height: 100%;
    background: url('../../assets/30080095_benner_11.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */
/* 
.footer_container::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
} */

